/*  Author: Sarina Luu, Sam Buensuceso
    Student#: 300838958, 300799984
    Date: October 25, 2016
    Version: 2.1
    File Name: app.css*/

html{
    font-family: 'Metrophobic', sans-serif;
}
body {
    background-color: #000000;
    font-family: 'Metrophobic', sans-serif;
    -webkit-animation-duration: 0.1s;
    -webkit-animation-name: fontfix;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0.1s;
}


@-webkit-keyframes fontfix {
  from { opacity: 1; }
  to { opacity: 1; }
}

/*HOMEPAGE/GameTrackerPage CSS*/
#banner{
    width: 100%;
    height: 160px;
    margin: auto auto 0 auto;
    background-color: #808080;

}

/*NAVIGATION CSS*/
#navigation{
    width: 100%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #931111;
    text-align: left;
}

#navigation li{
    list-style: none;
    float: left;
    padding-right: 15px;
    padding-top: 10px;
}

#navigation li a:visited {
    color: #ffffff;
}

#mainContent{
    width: 80%;
    height: 600px;
    margin-left:auto;
    margin-right:auto;
    background-color: #000000;
}

#Game1 {
    width:90%;
    height: 200px;
    padding-top: 50px;
    margin: 0 auto 0 auto;
    background-color: #931111;
}

/*REGISTER PAGE*/
.btn-warning{
    background-color: #FC1616;
}

.panel-heading{
  background-image: none;
  background-color: #931111!important;
  color: #ffffff;
}

.container h1 {
    color: #ffffff;
}

.container h5 {
    color: #ffffff;
}

/*INPUT STATS PAGE*/
#inputstatsPage label {
    color: #ffffff;
}

#inputstatsPage #left {
    text-align: center;
}

#inputstatsPage #middle {
    text-align: center;
}

#inputstatsPage #right {
    text-align: center;
}

#inputstatsPage #bottom{
    text-align: center;
}
#inputstatsPage .btn {
    margin-bottom: 5px;
}

#inputstatsPage .img{
    margin-top: 5px;
    margin-bottom: 10px;
}

#inputstatsPage #bottom .btn{
    background-image: none;
    background-color: #2d9c2f;
    border-color: #19511a;
    margin-top: 10px;
    text-align: center;
    width: 100px;
}



